#navBar {
    display: flex;
    flex-direction: row-reverse;
  }
  
  
.item1 {
    background-color: rgb(117, 138, 233);
    border: 0.1px solid black;
    width: 50px;
  }
  
.item2 {
    background-color: rgb(110, 49, 200);
    border: 0.1px solid black;
    width: 50px;
  }
  
.item3 {
    background-color: rgb(90, 18, 172);
    border: 0.1px solid black;
    width: 50px;
  }

#bob {
    text-align: left;
    border: 5px solid black;
    margin: 5px;
    height: 100px
  }

#will {
    text-align: right;
    border: 5px solid black;
    margin: 5px;
    height: 100px
}